#main-container {
    padding: 5%;
}
.hide {
    display: none;
}
.table > tbody > tr > td.pad-top,
.table > tbody > tr > th.pad-top,
.table > tbody > tr.pad-top > td,
.table > tbody > tr.pad-top > th {
  padding-top: 20px;
}

.table > tbody > tr > td.no-stripe,
.table > tbody > tr > th.no-stripe,
.table > tbody > tr.no-stripe > td,
.table > tbody > tr.no-stripe > th {
  background-color: #fff;
}

.right {
    text-align: right;
}

.bar-container {
    display: inline-block;
    width: 200px;
}

.bar {
    background-color: #25D200;
    height: 32px;
    opacity: 0.7;
}

.bar-label {
    display: inline-block;
    vertical-align: top;
    font-size: 20px;
}
